# Ignore environment variables
.env

# Ignore generated comment files
app/local_test/youtube_live_comments.txt

# Common Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# VSCode settings (optional if you use VSCode)
.vscode/

# OS files
.DS_Store
Thumbs.db

youtube_live_comments

# Hadoop Data Directories
hadoop_namenode/
hadoop_datanode*/
hadoop_datanode1/
hadoop_datanode2/

# Kafka Data
kafka_data/

app/batch_processing/results.json
